.navbar ul{
    flex-direction: column;
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 24rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    transition: all 0.6s ease-out;
}

.navbar{
    height: 24rem;
}
.navbar ul li{
    margin: 0.5rem;
}
.navbar-left h2 {
    position: relative;
    left: -0.8rem;
}
.h-nav{
    height: 5rem;
}
.v-class{
    opacity: 0;
}
.burger{
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    cursor: pointer;
}
.navMenu .lines:nth-child(2){
    opacity: 0;
}
.navMenu .lines:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}
.navMenu .lines:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}
.lines{
    width: 2rem;
    background-color: white;
    height: 2px;
    margin: 0.4rem;
}
#sec-mn{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;


}
.sec-left-col{
    width: 20rem;
    height: 22rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.sec-rt-col{
    width: 100%;
    margin: 1.5rem 1rem;
    height: 18rem;
    /* border: 2px solid red; */
}
.sec-rt-col img {
    height: 15rem;
}
.sec-left-col h1, .sec-left-col h2{
    font-size: 1.4rem;
    
}

.sec-left-col p{
    font-size: 1rem;
    padding: 1rem 1rem 2rem 1.2rem;

}
.btn-box a {
    margin-right: 0;
}
.sec-ab p{
    font-size: 1rem;
    width: 17rem;
    padding: 1rem;
    margin: 0;
}
#btn-box1 {
    margin-left: 0;
}
.about-img {
    width: 23rem;
    height: 18rem;
}
.about-img .circle-spin {
    width: 17rem;
    position: relative;
    top: 9rem;
    left: 8.65rem;
    height: 99%;
}
.sec-mn-2 {
    width: 99%;
}
.about-img img {
    height: 16rem;
    width: 15.2rem;
    position: absolute;
    /* margin: auto 3.5rem; */
}
.footer-end h1 {
    font-size: 0.7rem;
}
.edu-content {
    width: 87%;
    height: 37.5rem;
}
#ed-section h3 {
    font-size: 1.1rem;
}
#ed-section p {
    font-size: 0.94rem;
    margin: 0.5rem;
}
.coding-container{
    height: 24rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(78px, 1fr));
    grid-gap: 1rem;
}
.line{
    display: none;
}
.lang{
    width: 5rem;
    height: 6rem;
}
.skills{
    height: 40rem;
}
.s-circle {
    position: relative;
    top: -0.4rem;
}
.lang h3{
    font-size: 0.9rem;
}
.lang img {
    width: 3rem;
}
#lang1 img {
    width: 2.4rem;
}
#exp2 img{
    width: 4.8rem;
}
#nod2 img{
    width:4.8rem;
}
.pr-1 {
   width: 85%;
}
.pr-1 p {
    margin-bottom: 1rem;
}
.contact-container{
    /* border: 2px solid red; */
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputs {
    flex-direction: column;
    height: 10rem;
}
#inputs1>textarea {
    width: 18.3rem;
    height: 10rem;
}
